form {
    display: flex;
    flex-direction: column;
}

span {
    margin-top: 5px;
    margin-bottom: 5px;
}

mat-card {
    margin: 2em auto;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    max-width: 400px;
}

mat-card-content {
    display: grid;
    max-width: 500px;
}

mat-card-content form {
    margin: 0;
    padding-bottom: 0;
}

#buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-button {
    margin: 20px 15px 0px 0px;
    width: 150px;
    align-items: flex-start;
}

button:hover {
    background-color: #d9f1f3;
    color: #49b4bb;
}

strong {
    display: flex;
    align-items: center;
    font-size: 18px;
}

i img.logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}