span {
    margin-top: 5px;
    margin-bottom: 15px;
}

mat-card-content {
    display: grid;
    max-width: 400px;
}

form { 
    display: flex;
    flex-direction: column;
}

form mat-form-field {
    width: 400px;
    height: 50px;
    margin-top: 20px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
button {
    width: 45%;
}

button:hover{
    background-color: #D9F1F3;
    color: #49B4BB;
}