span {
    margin-top: 5px;
    margin-bottom: 15px;
}

mat-card-content {
    display: grid;
    max-width: 400px;
}

form { 
    display: flex;
    flex-direction: column;
}

form mat-form-field {
    width: 400px;
    height: 40px;
    margin-top: 20px;
}
