<mat-card class="mat-elevation-z0">
    <mat-card-content>
        <form>
            <mat-form-field>
                <input [(ngModel)]="userLogin.username" name="username" placeholder="Username" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input [(ngModel)]="userLogin.password" name="password" placeholder="Senha" matInput [type]="inputType()">
                <button 
                    mat-icon-button 
                    matSuffix 
                    (click)="hidePassword()" 
                    [attr.aria-label]="'Hide password'" 
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <div class="buttons">
            <button mat-flat-button class="secondary">
                Criar conta
            </button>
            <button mat-flat-button class="primary" (click)="login()">
                Acessar
            </button>
        </div>
   </mat-card-content>
</mat-card>