<mat-card class="mat-elevation-z0">
    <mat-card-content>
        <i>
            <img class="logo" src="../../../assets/Medicar_logo.png" />
        </i>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Usuário</mat-label>
                <input [(ngModel)]="userLogin.username" name="username" placeholder="Usuário" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>senha</mat-label>
                <input [(ngModel)]="userLogin.password" name="password" placeholder="Senha" matInput type="password">
            </mat-form-field>
        </form>
        <div class="buttons">
            <button mat-flat-button class="secondary" (click)="redirectRegistrar()">
                Criar conta
            </button>
            <button mat-flat-button class="primary" (click)="login()">
                Acessar
            </button>
        </div>
    </mat-card-content>
</mat-card>